.task-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:white;

    margin:12px 20px;

    padding:16px;

    border-radius:12px;

    box-shadow:0 3px 10px rgba(0,0,0,.08);

}

.task-info{

    display:flex;

    align-items:center;

    gap:15px;

}

.task-info input{

    width:20px;

    height:20px;

}

.task-info span{

    font-size:17px;

}

.task-actions{

    display:flex;

    gap:10px;

}

.task-actions button{

    border:none;

    background:none;

    cursor:pointer;

    font-size:18px;

}

.task-actions button:hover{

    transform:scale(1.1);

}

.completed span{

    text-decoration:line-through;

    color:#888;

}